{{> metaHeader title='تُكله' description="Toklah"}}
{{> header }}

<!-- The video -->
<video autoplay muted loop id="background-video">
  <source src="../assets/videos/background.mp4" type="video/mp4">
</video>

<!-- Add your site or app content here -->
<div class="hero-full-container background-image-container white-text-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="../assets/images/header.png" alt="Toklah">
      </div>
    </div>
  </div>
</div>

<div class="section-container white" id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="text-center">
          <h2>من نحن</h2>
          <p dir="rtl">
            مؤسسة سعودية أنشئت على أيادى شابه فى أواخر 2019 وبدأت رحلتها مع بداية 2020 لتكون إحدى الأسماء الرائده فى
            مجال التنظيم والتطوع ، للمشاركة فى رفع نسبة المتطوعين فى المملكة العربية السعودية لتواكب رؤية 2030. </p>
          <p dir="rtl">
            وتعد اول منصة تربط المتطوعين والمنظمين بالجهات المنفذة للفعاليات والمؤتمرات والمعارض والمبادرات التطوعية من
            خلال التسجيل فى التطبيق.
          </p>
          <p dir="rtl">
            سواء كنت فرد أو جهة لا تحمل هما فستجدنا "تُكلة". </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="img-responsive" src="./assets/images/vision.png" alt="First slide" width="380">
              <div class="carousel-caption card-shadow reveal">

                <h3 dir="rtl">رؤيتنا :</h3>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
                <p dir="rtl">
                  توفير كافة طلبات عملائنا المميزة ، ونسعى فى تُكلة ان نصبح الوجهة الأولى فى مجال التنظيم والتطوع على
                  مستوى المملكة العربية السعودية والشرق الأوسط ، وتعزيز فكرة التطوع بين الأجيال الحاضرة والقادمة كفكر
                  إنسانى.
                </p>
              </div>
            </div>
            <div class="item">
              <img class="img-responsive" src="./assets/images/message.png" alt="First slide" width="380">
              <div class="carousel-caption card-shadow reveal">
                <h3 dir="rtl">رسالتنا :</h3>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
                <p dir="rtl">
                  نؤمن فى تُكلة بأن التكامل يتحقق فى التنوع ، والاستمرار فى التميز يكمن فى الشغف ، ولأن شركائنا "تُكله"
                  سنصنع الفرق.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container" id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">الخدمات</h2>
      </div>
      <div class="col-xs-12">
        <div id="services-carousel" class="carousel carousel-fade slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="img-responsive" src="./assets/images/individuals.png" alt="First slide">
              <div class="carousel-caption card-shadow reveal">

                <h3 dir="rtl">الأفراد :</h3>
                <a class="left carousel-control" href="#services-carousel" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#services-carousel" role="button" data-slide="next">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
                <p dir="rtl">
                  قريبا
                </p>
              </div>
            </div>
            <div class="item">
              <img class="img-responsive" src="./assets/images/companies.png" alt="First slide">
              <div class="carousel-caption card-shadow reveal">
                <h3 dir="rtl">الشركات :</h3>
                <a class="left carousel-control" href="#services-carousel" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#services-carousel" role="button" data-slide="next">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
                <p dir="rtl">
                  قريبا
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container" id="pricing">
  <div class="container text-center">
    <div class="row section-container-spacer">
      <div class="col-xs-12 col-md-12">
        <h2>ابدأ معنا</h2>
      </div>
    </div>
    <div class="row reveal">
      <div class="stores">
        <img src="./assets/images/apple.png" alt="Apple QR" />
        <img src="./assets/images/google.png" alt="Google QR">
      </div>
    </div>
  </div>
</div>

{{!-- <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2 class="text-center">Customers</h2>
          <p>Praesent at feugiat est, at faucibus ipsum. Aenean condimentum mauris vel malesuada pulvinar. <br>Vestibulum sit amet hendrerit leo, quis vehicula mi.</p>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <img src="./assets/images/logo-01.png" alt="" class="img-responsive reveal-content image-center">

        </div>
       
        <div class="col-xs-12 col-md-4">
          <img src="./assets/images/logo-02.png" alt="" class="img-responsive reveal-content image-center">
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="./assets/images/logo-03.png" alt="" class="img-responsive reveal-content image-center">
        </div>
      </div>
    </div>
  </div> --}}


<div class="section-container contact-container" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="section-container-spacer">
          <h2 class="text-center">الشكاوى والاقتراحات</h2>
        </div>
        <div class="card-container">
          <div class="card card-shadow col-xs-12 reveal">
            <form action="" class="reveal-content">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control ar" id="name" placeholder="الاسم" dir="auto">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control ar" id="mobile" placeholder="الجوال" dir="auto">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control ar" id="email" placeholder="الإيميل" dir="auto">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control ar" rows="3" placeholder="رسالتك" dir="auto"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">ارسال</button>
                </div>
              </div>
            </form>
          </div>
          {{!-- <div class="card-image col-xs-12" style="background-image: url('/assets/images/complaints.png')"></div> --}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>

{{> footer }} {{> metaFooter}}