{{> metaHeader title='تكله' description="Toklah"}} 
{{> header }}

<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img src="../assets/images/header.png" alt="Toklah">
        </div>
      </div>
    </div>
  </div>

  <div class="section-container" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="text-center">
            <h2>من نحن</h2>
            <p dir="rtl">
              تُكلة هي مؤسسة أنشئت على أيدي شباب سعوديين في أواخر 2019 وانطلقت مع بداية 2020 لتكون أحد الأسماء الرائدة في مجال التنظيم والتطوع للمشاركة في رفع نسبة المتطوعين في المملكة العربية السعودية لمواكبة رؤية 2030 , وتعتبر أول منصة تربط المنظمين والمتطوعين بالجهات المنفذة للفعاليات والمؤتمرات والمعارض والمبادرات التطوعية من خلال التسجيل في تطبيق تُكلة (وسواء كنت فرد أو جهة لا تشيل هم ترانا تُكلة).            
            </p>
          </div>
       </div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="container">
      <div class="row">      
        <div class="col-xs-12">
          <div id="carousel-example-generic" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-responsive" src="./assets/images/vision.jpg" alt="First slide">
                <div class="carousel-caption card-shadow reveal">
                  
                  <h3>رؤيتنا</h3>
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                  </a>
                  <p dir="rtl">
                    نتطلع لأن نصبح الخيار الأول في مجال التنظيم والتطوع على مستوى المملكة العربية السعودية والشرق الأوسط وأن نكون الاسم الأول الذي يخطر في اذهانكم.
                  </p>
                </div>
              </div>
              <div class="item">
                <img class="img-responsive" src="./assets/images/message.jpg" alt="First slide">
                <div class="carousel-caption card-shadow reveal">
                  <h3>رسالتنا</h3>
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                  </a>
                  <p dir="rtl">
                    نؤمن في تُكلة بأن التكامل يتحقق من التنوع, والاستمرار في التميز يكمن في الشغف, ولأن شركائنا تُكلة سنصنع الفرق.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="section-container" id="services">
    <div class="container">
      <div class="row">      
        <div class="col-xs-12">
          <div id="services-carousel" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="img-responsive" src="./assets/images/individuals.png" alt="First slide">
                <div class="carousel-caption card-shadow reveal">
                  
                  <h3>أفراد</h3>
                  <a class="left carousel-control" href="#services-carousel" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#services-carousel" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                  </a>
                  <p dir="rtl">
                    نتطلع لأن نصبح الخيار الأول في مجال التنظيم والتطوع على مستوى المملكة العربية السعودية والشرق الأوسط وأن نكون الاسم الأول الذي يخطر في اذهانكم.
                  </p>
                </div>
              </div>
              <div class="item">
                <img class="img-responsive" src="./assets/images/companies.png" alt="First slide">
                <div class="carousel-caption card-shadow reveal">
                  <h3>ِشركات</h3>
                  <a class="left carousel-control" href="#services-carousel" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#services-carousel" role="button" data-slide="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                  </a>
                  <p dir="rtl">
                    نؤمن في تُكلة بأن التكامل يتحقق من التنوع, والاستمرار في التميز يكمن في الشغف, ولأن شركائنا تُكلة سنصنع الفرق.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="section-container" id="pricing">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2>خطط الأسعار</h2>
        </div>  
      </div>
      <div class="row reveal">
        <div class="col-xs-12 col-md-4 col-md-offset-2">
          <div class="pricing-plan">
            <div class="pricing-plan__header">
              <h3>الباقة الأساسية</h3>
              <h4>Basic</h4>
              <span dir="rtl">9.75 ريال شهريا</span>
            </div>
            <ul>
              <li>الربط بالفعاليات</li>
              <li>قيمة المكافآت إلى 200 ريال</li>
              <li>شهادات للتطوع</li>
            </ul>         
          </div>
        </div>
       
        <div class="col-xs-12 col-md-4">
          <div class="pricing-plan">
            <div class="pricing-plan__header">
              <h3>الباقة الممتازة</h3>
              <h4>Premium</h4>
              <span dir="rtl">25.00 ريال شهريا</span>
            </div>
            <ul>
              <li>الربط بالفعاليات</li>
              <li>قيمة المكافآت أقل وأعلى من 200 ريال</li>
              <li>شهادات للتطوع</li>
              <li>بدون إعلانات</li>
              <li>دورات مجانية معتمده</li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          <h2 class="text-center">Customers</h2>
          <p>Praesent at feugiat est, at faucibus ipsum. Aenean condimentum mauris vel malesuada pulvinar. <br>Vestibulum sit amet hendrerit leo, quis vehicula mi.</p>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <img src="./assets/images/logo-01.png" alt="" class="img-responsive reveal-content image-center">

        </div>
       
        <div class="col-xs-12 col-md-4">
          <img src="./assets/images/logo-02.png" alt="" class="img-responsive reveal-content image-center">
        </div>
        <div class="col-xs-12 col-md-4">
          <img src="./assets/images/logo-03.png" alt="" class="img-responsive reveal-content image-center">
        </div>
      </div>
    </div>
  </div> --}}
 
 
  <div class="section-container contact-container" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="section-container-spacer">
            <h2 class="text-center">الشكاوى والأقتراحات</h2>
            {{!-- <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p> --}}
          </div>
          <div class="card-container">
            <div class="card card-shadow col-xs-5 col-xs-offset-1 col-md-5 col-xs-offset-3 reveal">
              <form action="" class="reveal-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" placeholder="الاسم" dir="auto">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="mobile" placeholder="الجوال"  dir="auto">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" placeholder="الإيميل"  dir="auto">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="رسالتك"  dir="auto"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">ارسال</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-image col-xs-12" style="background-image: url('/assets/images/complaints.png')"></div>
          </div>
        </div>  
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navbarFixedTopAnimation();
  });
</script>

{{> footer }} {{> metaFooter}}